<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>

  </ul>
  <h3 class="text-muted">ng poller</h3>
</div>

<div class="jumbotron">
  <h1>ng-poller</h1>
  <p class="lead">
    Check your console and out going requests after you click on start Polling
  </p>
  <p>
      <a class="btn btn-lg btn-success" ng-show="!polling" ng-click="startPolling()">Start Polling!</a>
      <a class="btn btn-lg btn-success" ng-show="polling" ng-click="stopPolling()">Stop Polling!</a>
  </p>
</div>

<div class="row marketing">

</div>

<div class="footer">
  <p>♥ from Abhik</p>
</div>
